<div class="row">
  <div class="col-md-12">
    <h2>
      Информация для заказа <br>
      <small><%= link_to("Заказывать", order_url(@order.token)) %></small>
    </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="70%">Информация о продукте</th>
          <th>цена за единицу товара</th>
          <th>количество</th>
          <th>примечание</th>
        </tr>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>
            <td><%= product_list.quantity %></td>
            <td><%= product_list.quantity * product_list.product_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="total group clearfix">
      <h4 class="pull-right">
        общий <%= @order.total %> CNY
      </h4>
    </div>
     <hr>
     <h2> Данные получателя </h2>
     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td> Отправитель </td>
        </tr>
        <tr>
          <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
        </tr>
        <tr>
          <td> получатель </td>
        </tr>
        <tr>
          <td><%= @order.shipping_name %> - <%= @order.shipping_address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
